body {
    background-color: white;
    color: black;
}

header {
    background-color: grey;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 150px;
}

header img {
    object-fit: cover;
    margin: 10px;
}

header div {
    width: 300px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

header div > * {
    justify-content: center;
}

main {
    max-width: 1200px;
    background-color: rgb(204, 255, 193);
    color: black;
    margin: 10px auto;
    padding: 10px;
    border-radius: 25px;
}

main h1 {
    text-align: center;
}

main [id ^= "post_"] {
    background-color: rgb(192, 211, 181);
    border-radius: 25px;
    margin: 10px 20px;
    padding: 10px;
}

main .comments {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
    font-style: italic;
}

main .add h3 {
    cursor: pointer;
}

main .add form {
    visibility: hidden;
    height: 0;
}

main .comments [id ^= "comment_"] {
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
}
