<header>
{% block header %}
    <img src="{{ asset('images/test.jpeg') }}" alt="image de test">

    <div>
    {% if user and user.connected == true %}
        <p>Bonjour {{ user.name }}</p>
        <a href="index.php?action=logout">Se déconnecter</a>
    {% else %}
        <a href="index.php?action=login">Se connecter</a>
    {% endif %}
    </div>
{% endblock %}
</header>